<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>123</title>

</head>

<body>
    <div style="display:block;margin: 0 auto;">
        <p>登录失效,请重新登录</p>
        <a href="/">去登陆</a>
    </div>
</body>

</html>