<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>班级管理</title>
    <!-- js -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <!-- bootstrap.js -->
    <script src="../static/vendor/js/bootstrap.bundle.min.js"></script>
    <!-- 线形图js -->
    <script src="../static/vendor/js/jquery.sparkline.min.js"></script>
    <!-- 图标插件js -->
    <script src="../static/vendor/js/jquery.flot.js"></script>
    <!-- echarts.js -->
    <script src="../static/vendor/js/echarts.js"></script>
    <!-- Charts Plugin -->
    <script src="../static/vendor/js/Chart.bundle.js"></script>
    <script src="../static/vendor/js/utils.js"></script>
    <!-- peitychart -->
    <script src="../static/vendor/js/jquery.peity.min.js"></script>
    <script src="../static/vendor/js/peitychart.init.js"></script>
    <!--Horizontal-menu Js-->
    <script src="../static/vendor/js/webslidemenu.js"></script>
    <!-- Custom scroll bar Js-->
    <script src="../static/vendor/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../static/vendor/js/selectize.min.js"></script>
    <script src="../static/vendor/js/jquery.tablesorter.min.js"></script>
    <script src="../static/vendor/js/circle-progress.min.js"></script>
    <script src="../static/vendor/js/jquery.rating-stars.js"></script>
    <script src="../static/vendor/js/jquery.flot.js"></script>
    <script src="../static/vendor/js/jquery.flot.fillbetween.js"></script>
    <script src="../static/vendor/js/jquery.flot.pie.js"></script>
    <script src="../static/vendor/js/othercharts.js"></script>
    <script src="../static/vendor/js/jquery.knob.js"></script>
    <script src="../static/vendor/js/amcharts.js"></script>
    <script src="../static/vendor/js/serial.js"></script>
    <script src="../static/vendor/js/peitychart.init.js"></script>
    <script src="../static/vendor/js/webslidemenu.js"></script>
    <script src="../static/vendor/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../static/vendor/js/custom.js"></script>
    <script src="../static/vendor/js/d3.v5.min.js"></script>
    <script src="../static/vendor/js/c3-chart.js"></script>

    <script src="../static/vendor/js/sample.js"></script>
    <script src="../static/vendor/js/notifIt.js"></script>

    <script src="../static/vendor/js/jquery.dataTables.min.js"></script>
    <script src="../static/vendor/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/fileinput.min.js"></script>

    <!-- css-->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/dashboard.css" rel="stylesheet" />
    <link href="../static/vendor/css/c3-chart.css" rel="stylesheet" />
    <link href="../static/vendor/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="../static/vendor/css/fade-down.css" rel="stylesheet" />
    <link href="../static/vendor/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="../static/vendor/css/morris.css" rel="stylesheet" />
    <link href="../static/vendor/css/webslidemenu.css" rel="stylesheet" />
    <link href="../static/vendor/css/plugin.css" rel="stylesheet" />


    <script src="../static/js/t_class_manager.js"></script>

    <!-- xls -->
    <script src="https://cdn.bootcss.com/xlsx/0.15.1/xlsx.core.min.js"></script>


    <!-- notify -->
    <link href="../static/vendor/css/jquery.growl.css" rel="stylesheet" />
    <link href="../static/vendor/css/notifIt.css" rel="stylesheet" />
</head>
<script>
    let id = '<%= id %>'
</script>

<body>
    <div class="page-main">

        <!-- 顶部信息 -->
        <div class="app-header header py-1 d-flex">
            <div class="container">
                <div class="d-flex" style="float: left;">
                    <!-- 左上角图标 -->
                    <a class="header-brand" href="#">
                        <img style="margin-right: 2px" height="30px" width="30px" src="../static/images/db.jpg">
                        在线MySQL
                    </a>
                </div>
                <div style="padding-top: 10px;padding-left: 100px;float: right;">
                    <span class="page-title" style="font-size: 15px;">
                        <img style="margin-right: 10px" height="25px" width="25px" src="../static/images/zhanghao.png">
                        <span><%=id%></span>
                    </span>
                </div>
            </div>
        </div>
        <!--/ 顶部信息 -->



        <!--水平导航栏-->
        <div class="horizontal-main clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix">
                    <ul class="horizontalMenu-list">




                        <!-- 实验-->
                        <li aria-haspopup="true"><a href="/teacherhome" class="sub-icon "><i
                                    class="fa fa-pie-chart"></i>我的实验</a>
                        </li>
                        <!-- 库表 -->
                        <li aria-haspopup="true"><a href="/teacher/table" class="sub-icon"><i
                                    class="fa fa-newspaper-o"></i>我的库表
                            </a>

                        </li>

                        <!-- 成绩-->
                        <li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fa fa-pie-chart"></i>成绩分析</a>
                            <ul class="sub-menu" id="">

                            </ul>
                        </li>

                        <!-- 班级管理-->
                        <li aria-haspopup="true"><a href="/teacher/class" class="sub-icon  active"><i
                                    class="fa fa-pie-chart"></i>班级管理</a>
                            <ul class="sub-menu" id="">

                            </ul>
                        </li>
                        <!--导出成绩-->
                        <li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fa fa-pie-chart"></i>导出成绩</a>
                            <ul class="sub-menu" id="">

                            </ul>
                        </li>


                        <!-- 其他 -->
                        <li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fa fa-question-circle"></i>帮助 &
                                账号管理<i class="fa fa-angle-down horizontal-icon"></i></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="/help">使用帮助</a></li>
                                <li aria-haspopup="true"><a href="/changepwd">修改密码</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <!--/水平导航栏-->

        <!-- 信息区域 -->
        <div class="content-area">
            <div class="container">
                <div class="page-header">
                    <h4 class="page-title">
                        信息
                    </h4>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="btn-group mt-2 mb-2">
                                    <button type="button" class="btn btn-outline-light">选择班级</button>
                                    <button type="button" class="btn btn-outline-light dropdown-toggle"
                                        data-toggle="dropdown">
                                    </button>
                                    <ul class="dropdown-menu" role="menu" id="tab">


                                    </ul>
                                </div>
                                <h3 class="card-title" style="margin-left: 50px;">当前班级: <span id="currentClass"></span>
                                </h3>
                                <div class="card-options">
                                    <a><button type="button" class="btn btn-sm btn-success " data-toggle="modal"
                                            data-target="#importAClassModal"><i class="fa fa-plus"></i>导入班级</button></a>
                                    <a><button type="button" class="btn btn-sm btn-danger " onclick="deleteAClass()"><i
                                                class="fa fa-trash"></i>删除班级</button></a>
                                    <a><button type="button" class="btn btn-sm btn-info " onclick="addOneModalForm()"
                                            data-toggle="modal" data-target="#AddOneStudentModal"><i
                                                class="fa fa-plus"></i>添加学生(单个)</button></a>
                                </div>
                            </div>

                            <div class="card-body text-center" id="class_content">


                            </div>


                        </div>
                    </div>
                </div>


                <!-- Modals -->
                <div class="modal fade" id="AddOneStudentModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="example-Modal3">添加学生</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">当前班级:</label>
                                        <input type="text" class="form-control" id="addOne_class" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">学号</label>
                                        <input type="text" class="form-control" id="addOne_id">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">姓名</label>
                                        <input type="text" class="form-control" id="addOne_name">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" onclick='addOne_Button()'>添加</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="modal fade" id="importAClassModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="example-Modal3">导入班级</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">班级:</label>
                                    <input type="text" class="form-control" id="import_class">
                                </div>
                                <h5>选择xls或xlsx文件;文件规则:数据位于第一张表,共有两列 name、id 位于第一行作为列名</h5>
                                <input type="file" id="xlsFile" accept=".xls,.xlsx">
                                <div>
                                    <table class="table table-hover" id="s_xls_table"
                                           style="margin-top: 30px;display:none;width:100%;table-layout: fixed">
                                       
                                        <thead align="center">
                                        <tr>
                                            <th style="text-align: center">id</th>
                                            <th style="text-align: center">name</th>
                                        </tr>
                                        </thead>
                                        <tbody id="student_xls_preview">
                                        </tbody>
                                    </table>
                                </div>
                          
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" onclick="importClass()">导入</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end Modals -->



        <!--底部-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center"></div>
                </div>
            </div>
        </footer>






    </div>
    </div>
    </div>
    <!-- 回到最上方 -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
</body>

</html>