<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试界面</title>

    <!-- js -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>


    <!-- css-->
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/css/dashboard.css" rel="stylesheet" />
    <link href="../../static/vendor/css/c3-chart.css" rel="stylesheet" />
    <link href="../../static/vendor/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="../../static/vendor/css/fade-down.css" rel="stylesheet" />
    <link href="../../static/vendor/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="../../static/vendor/css/morris.css" rel="stylesheet" />
    <link href="../../static/vendor/css/webslidemenu.css" rel="stylesheet" />
    <link href="../../static/vendor/css/plugin.css" rel="stylesheet" />


    <!-- js -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <!-- bootstrap.js -->
    <script src="../../static/vendor/js/bootstrap.bundle.min.js"></script>
    <!-- 线形图js -->
    <script src="../../static/vendor/js/jquery.sparkline.min.js"></script>
    <!-- 图标插件js -->
    <script src="../../static/vendor/js/jquery.flot.js"></script>
    <!-- echarts.js -->
    <script src="../../static/vendor/js/echarts.js"></script>
    <!-- Charts Plugin -->
    <script src="../../static/vendor/js/Chart.bundle.js"></script>
    <script src="../../static/vendor/js/utils.js"></script>
    <!-- peitychart -->
    <script src="../../static/vendor/js/jquery.peity.min.js"></script>
    <script src="../../static/vendor/js/peitychart.init.js"></script>
    <!--Horizontal-menu Js-->
    <script src="../../static/vendor/js/webslidemenu.js"></script>
    <!-- Custom scroll bar Js-->
    <script src="../../static/vendor/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../static/vendor/js/selectize.min.js"></script>
    <script src="../../static/vendor/js/jquery.tablesorter.min.js"></script>
    <script src="../../static/vendor/js/circle-progress.min.js"></script>
    <script src="../../static/vendor/js/jquery.rating-stars.js"></script>
    <script src="../../static/vendor/js/jquery.flot.js"></script>
    <script src="../../static/vendor/js/jquery.flot.fillbetween.js"></script>
    <script src="../../static/vendor/js/jquery.flot.pie.js"></script>
    <script src="../../static/vendor/js/othercharts.js"></script>
    <script src="../../static/vendor/js/jquery.knob.js"></script>
    <script src="../../static/vendor/js/amcharts.js"></script>
    <script src="../../static/vendor/js/serial.js"></script>
    <script src="../../static/vendor/js/peitychart.init.js"></script>
    <script src="../../static/vendor/js/webslidemenu.js"></script>
    <script src="../../static/vendor/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../static/vendor/js/custom.js"></script>
    <script src="../../static/vendor/js/d3.v5.min.js"></script>
    <script src="../../static/vendor/js/c3-chart.js"></script>

    <script src="../../static/vendor/js/jquery.dataTables.min.js"></script>
    <script src="../../static/vendor/js/dataTables.bootstrap4.min.js"></script>

    <script src="../../static/vendor/js/jquery.missofis-countdown.js"></script>
    <script src="../../static/vendor/js/counter.js"></script>
    <script src="../../static/js/auto-line-number.js"></script>


    <!-- 日期 -->
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
        rel="stylesheet">
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>



    <!-- notify -->
    <link href="static/vendor/css/jquery.growl.css" rel="stylesheet" />
    <link href="static/vendor/css/notifIt.css" rel="stylesheet" />
    <script src="static/vendor/js/sample.js"></script>
    <script src="static/vendor/js/notifIt.js"></script>

    <script src="../../static/js/t_create.js"></script>
    <script>
        var id = '<%=id%>';
    </script>


</head>

<body onbeforeunload="checkleave()" onunload="leave()">
    <div class="page">
        <div class="page-main">

            <!-- 顶部信息 -->
            <div class="app-header header py-1 d-flex">
                <div class="container">


                </div>
            </div>
            <!--/ 顶部信息 -->
            <!-- 信息区域 -->
            <div class="content-area">

                <div class="container">

                    <div class="card-header">
                        <a class="header-brand" href="/teacherhome">
                            <li class="fa fa-reply"></li>
                            返回主页
                        </a>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h2 class="card-title">创建实验</h2>
                                                <div class="card-options">

                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="jumbotron"
                                                        style="background-color: #0F0506;width:45%;min-height:400px">

                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="input"
                                                                placeholder="实验名称" id="name">
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <textarea type="text" class="form-control" name="input"
                                                                rows="4" placeholder="实验目的" id="aim"></textarea>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <textarea type="text" class="form-control" name="input"
                                                                rows="4" placeholder="实验描述" id="describe"></textarea>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group mb-0" style="margin-top: 30px;">
                                                            <div class="expanel expanel-info">
                                                                <div class="expanel-heading clearfix">关联库表
                                                                    <div class="float-right">
                                                                        <button class="btn btn-sm btn-light"
                                                                            type="button" data-toggle="collapse"
                                                                            data-target="#collapse02"
                                                                            aria-expanded="false"
                                                                            aria-controls="collapse02"><i
                                                                                class="fa fa-bars"></i></button>
                                                                    </div>
                                                                </div>
                                                                <div class="expanel-body collapse" id="collapse02">
                                                                    <input type="text" class="form-control"
                                                                        id="table"
                                                                        style="background-color: #0F0506;border-color: #FF685C;color: white;"
                                                                        disabled>
                                                                    <table
                                                                        class="table table-hover card-table  table-vcenter table-outline text-nowrap"
                                                                        id="edit_table_check">
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <textarea type="text" class="form-control" name="input"
                                                                spellcheck="false" rows="4" placeholder="使用临时表,测试SQL语句"
                                                                id="sqltextarea"></textarea>
                                                        </div>
                                                        <button type="button" class="btn btn-outline-info "
                                                            style="float: left;" onclick="renewTables()"><i
                                                                class="fe fe-refresh-ccw"> 刷新表库</i></button>
                                                        <button type="button" style="float: right;"
                                                            class="btn btn-outline-light" onclick="runSQL()"><i
                                                                class="fe fe-upload mr-2"></i>执行代码
                                                        </button>

                                                        <style>
                                                            #aa,
                                                            #aa tr th,
                                                            #aa tr td {
                                                                border: 1px solid #ffffff;
                                                                text-align: center;
                                                            }
                                                        </style>
                                                        <h5 class="leader" style="margin-top: 100px;">运行结果</h5>
                                                        <div class="card"
                                                            style="min-height: 300px;width:100%;background-color: #211A1B;border-style: solid;border-color: rgba(224,224,224,0.5)">

                                                            <div id="result_div">

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="jumbotron"
                                                        style="background-color: #0F0506;width:53%;margin-left:10px">
                                                        <div class="form-group">
                                                            <label for="message-text"
                                                                class="form-control-label">可见日期</label>
                                                            <div class='input-group date datetimepicker'>
                                                                <input type='text' class="form-control"
                                                                    id="reachTime" />
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="message-text"
                                                                class="form-control-label">截止日期</label>
                                                            <div class='input-group date datetimepicker'>
                                                                <input type='text' class="form-control" id="deadline" />
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <h5 class="leader">一题多答案以"$$$"拼接 格式如:答案1.1$$$答案1.2</h5>
                                                        <div id="P_div_1">
                                                            <div class="form-group">
                                                                <textarea type="text" class="form-control" name="input"
                                                                    rows="2" placeholder="题目 1" id="P_1"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea type="text" class="form-control" name="input"
                                                                    rows="2" placeholder="答案 1" id="A_1"></textarea>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                        <div id="P_div_2">
                                                            <div class="form-group">
                                                                <textarea type="text" class="form-control" name="input"
                                                                    rows="2" placeholder="题目 2" id="P_2"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea type="text" class="form-control" name="input"
                                                                    rows="2" placeholder="答案 2" id="A_2"></textarea>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                        <div id="P_div_3">
                                                            <div class="form-group">
                                                                <textarea type="text" class="form-control" name="input"
                                                                    rows="2" placeholder="题目 3" id="P_3"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea type="text" class="form-control" name="input"
                                                                    rows="2" placeholder="答案 3" id="A_3"></textarea>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                        <div id="P_div_4">
                                                            <div class="form-group">
                                                                <textarea type="text" class="form-control" name="input"
                                                                    rows="2" placeholder="题目 4" id="P_4"></textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea type="text" class="form-control" name="input"
                                                                    rows="2" placeholder="答案 4" id="A_4"></textarea>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                        <div id="ADDP"></div>
                                                        <button type="button" class="btn btn-outline-danger"
                                                            style="float: left;" onclick="deleteP()"><i
                                                                class="fe fe-minus"></i>减少题目</button>
                                                        <button type="button" style="margin-left: 10px;"
                                                            class="btn btn-outline-success" onclick="addP()"><i
                                                                class="fe fe-plus"></i>增加题目
                                                        </button>




                                                    </div>
                                                    <button type="button" style="display: block;margin: 0 auto;"
                                                        class="btn btn-gradient-success" onclick="createTest()"><i
                                                            class="fe fe-check mr-2"></i>确认创建
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                </div>


                                <div class="card-body">
                                    <div class="row">
                                        <div class="card text-white">
                                            <div class="card-header">
                                                <h3 class="card-title">我的库表</h3>
                                                <div class="card-options">
                                                    <a href="#" class="card-options-collapse"
                                                        data-toggle="card-collapse"><i
                                                            class="fe fe-chevron-up text-white"></i></a>
                                                </div>
                                            </div>
                                            <div class="card-body p-3">
                                                <div class="panel panel-primary">
                                                    <div class="tab-menu-heading">
                                                        <div class="tabs-menu1">
                                                            <!-- Tabs -->
                                                            <ul class="nav panel-tabs" id="tab-div">

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body tabs-menu-body">
                                                        <div class="tab-content" id="tab-content">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /信息 -->
                                </div>
                            </div>
                        </div>

                        <!-- 回到最上方 -->
                        <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

</body>

</html>