<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>使用说明</title>
     <!-- css-->
     <link href="static/css/font-awesome.min.css" rel="stylesheet">
     <link href="static/css/dashboard.css" rel="stylesheet" />
     <link href="static/vendor/css/c3-chart.css" rel="stylesheet" />
     <link href="static/vendor/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
     <link href="static/vendor/css/fade-down.css" rel="stylesheet" />
     <link href="static/vendor/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
     <link href="static/vendor/css/morris.css" rel="stylesheet" />
     <link href="static/vendor/css/webslidemenu.css" rel="stylesheet" />
     <link href="static/vendor/css/plugin.css" rel="stylesheet" />
 
</head>

<body>
    <div class="page">
        <div class="page-content">
            <div class="container text-center ">
                <div class="display-1 text-primary mb-5"> 404</div>
                <h1 class="h2  mb-3">Page Not Found</h1>
                <p class="h4 font-weight-normal mb-7 leading-normal">Oops!!!! you tried to access a page which is not
                    available. go back to Home</p>
                <a class="btn btn-primary" href="/">
                    Back To Home
                </a>
            </div>
        </div>
    </div>

</body>

</html>