<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Title -->
    <title>在线SQL平台登录</title>

    <!-- Font-awesome Css-->
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <!-- Dashboard Css -->
    <link href="static/css/dashboard.css" rel="stylesheet" />


    <script src="static/js/jquery-3.2.1.min.js"></script>


    <script src="static/js/login.js"></script>

</head>

<body class="login-img">
    <div class="page" style="background-color: #0f0506;">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">

                        <div class="row justify-content-center">
                            <div class="col-md-5">
                                <div class="card-group mb-0">
                                    <div class="card p-4">
                                        <div class="card-body">
                                            <h1 style="text-align: center;">在线SQL登录</h1>
                                            <div class="input-group mb-3">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                <input type="text" class="form-control" placeholder="学号/工号" id="id">
                                            </div>
                                            <div class="input-group mb-4">
                                                <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                                                <input type="password" class="form-control" placeholder="密码" id="pwd">
                                            </div>


                                            <select class="form-control" id='type'>
                                                <option value="student">学生</option>
                                                <option value="teacher">教师</option>
                                            </select>
                                            <div style="display: none;" id='login_error_ingo'></div>
                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-12">
                                                    <button type="button" class="btn btn-gradient-primary btn-block"
                                                        onclick='login()'>登录</button>
                                                </div>
                                                <div class="col-12">
                                                    <a href="#" class="btn btn-link box-shadow-0 px-0"
                                                        style="float: right;">忘记密码?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>