<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教师页</title>


    <!-- js -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <!-- bootstrap.js -->
    <script src="static/vendor/js/bootstrap.bundle.min.js"></script>
    <!-- 线形图js -->
    <script src="static/vendor/js/jquery.sparkline.min.js"></script>
    <!-- 图标插件js -->
    <script src="static/vendor/js/jquery.flot.js"></script>
    <!-- echarts.js -->
    <script src="static/vendor/js/echarts.js"></script>
    <!-- Charts Plugin -->
    <script src="static/vendor/js/Chart.bundle.js"></script>
    <script src="static/vendor/js/utils.js"></script>
    <!-- peitychart -->
    <script src="static/vendor/js/jquery.peity.min.js"></script>
    <script src="static/vendor/js/peitychart.init.js"></script>
    <!--Horizontal-menu Js-->
    <script src="static/vendor/js/webslidemenu.js"></script>
    <!-- Custom scroll bar Js-->
    <script src="static/vendor/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/vendor/js/selectize.min.js"></script>
    <script src="static/vendor/js/jquery.tablesorter.min.js"></script>
    <script src="static/vendor/js/circle-progress.min.js"></script>
    <script src="static/vendor/js/jquery.rating-stars.js"></script>
    <script src="static/vendor/js/jquery.flot.js"></script>
    <script src="static/vendor/js/jquery.flot.fillbetween.js"></script>
    <script src="static/vendor/js/jquery.flot.pie.js"></script>
    <script src="static/vendor/js/othercharts.js"></script>
    <script src="static/vendor/js/jquery.knob.js"></script>
    <script src="static/vendor/js/amcharts.js"></script>
    <script src="static/vendor/js/serial.js"></script>
    <script src="static/vendor/js/peitychart.init.js"></script>
    <script src="static/vendor/js/webslidemenu.js"></script>
    <script src="static/vendor/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/vendor/js/custom.js"></script>
    <script src="static/vendor/js/d3.v5.min.js"></script>
    <script src="static/vendor/js/c3-chart.js"></script>

    <script src="static/vendor/js/sample.js"></script>
    <script src="static/vendor/js/notifIt.js"></script>


    <!-- css-->
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/dashboard.css" rel="stylesheet" />
    <link href="static/vendor/css/c3-chart.css" rel="stylesheet" />
    <link href="static/vendor/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="static/vendor/css/fade-down.css" rel="stylesheet" />
    <link href="static/vendor/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="static/vendor/css/morris.css" rel="stylesheet" />
    <link href="static/vendor/css/webslidemenu.css" rel="stylesheet" />
    <link href="static/vendor/css/plugin.css" rel="stylesheet" />

    <!-- notify -->
    <link href="static/vendor/css/jquery.growl.css" rel="stylesheet" />
    <link href="static/vendor/css/notifIt.css" rel="stylesheet" />



    <!-- 日期 -->
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"
        rel="stylesheet">
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>



    <script src="static/js/t_homeinfo.js"></script>

    <script>
        var id = '<%=id%>';
        var name = '<%=name%>';
    </script>


</head>

<body>
    <div class="page-main">

        <!-- 顶部信息 -->
        <div class="app-header header py-1 d-flex">
            <div class="container">
                <div class="d-flex" style="float: left;">
                    <!-- 左上角图标 -->
                    <a class="header-brand" href="#">
                        <img style="margin-right: 2px" height="30px" width="30px" src="static/images/db.jpg">
                        在线MySQL
                    </a>
                </div>
                <div style="padding-top: 10px;padding-left: 100px;float: right;">
                    <span class="page-title" style="font-size: 15px;">
                        <img style="margin-right: 10px" height="25px" width="25px" src="static/images/zhanghao.png">
                        <span><%=name%></span>
                    </span>
                </div>
            </div>
        </div>
        <!--/ 顶部信息 -->



        <!--水平导航栏-->
        <div class="horizontal-main clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <nav class="horizontalMenu clearfix">
                    <ul class="horizontalMenu-list">

                        <!-- 首页 -->




                        <!-- 实验-->
                        <li aria-haspopup="true"><a href="#" class="sub-icon active"><i
                                    class="fa fa-pie-chart"></i>我的实验</a>
                        </li>
                        <!-- 库表 -->
                        <li aria-haspopup="true"><a href="/teacher/table" class="sub-icon"><i class="fa fa-newspaper-o"></i>我的库表
                            </a>

                        </li>

                        <!-- 成绩-->
                        <li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fa fa-pie-chart"></i>成绩分析</a>
                            <ul class="sub-menu" id="">

                            </ul>
                        </li>

                        <!-- 班级管理-->
                        <li aria-haspopup="true"><a href="/teacher/class" class="sub-icon"><i class="fa fa-pie-chart"></i>班级管理</a>
                            <ul class="sub-menu" id="">

                            </ul>
                        </li>

                        <!--导出成绩-->
                        <li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fa fa-pie-chart"></i>导出成绩</a>
                            <ul class="sub-menu" id="">

                            </ul>
                        </li>


                        <!-- 其他 -->
                        <li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fa fa-question-circle"></i>帮助 &
                                账号管理<i class="fa fa-angle-down horizontal-icon"></i></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="/help">使用帮助</a></li>
                                <li aria-haspopup="true"><a href="/changepwd">修改密码</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <!--/水平导航栏-->

        <!-- 信息区域 -->
        <div class="content-area">
            <div class="container">
                <div class="page-header">
                    <h4 class="page-title">信息</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/teacherhome">
                                <img id="freshButton" title="刷新" width="30px" height="30px"
                                    src="static/images/fresh.jpg">
                            </a></li>
                    </ol>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header ">
                                <h3 class="card-title">实验列表</h3>
                                <div class="card-options">
                                    <a href="/create"><button type="button" class="btn btn-sm btn-success " ><i
                                            class="fa fa-plus"></i>创建一个新实验</button></a>
                                </div>

                            </div>
                            <div class="table-responsive text-center">
                                <table class="table table-hover card-table  table-vcenter table-outline text-nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">实验名称</th>
                                            <th scope="col">创建时间</th>
                                            <th scope="col">可见日期</th>
                                            <th scope="col">截止日期</th>
                                            <th scope="col">完成人数</th>
                                            <th scope="col">完成情况</th>
                                            <th scope="col">编辑实验</th>
                                            <th scope="col">查看详情</th>
                                        </tr>
                                    </thead>
                                    <tbody id="testList">

                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>









                <!-- 即将过期的表格 -->
                <div class="row ">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header ">
                                <h3 class="card-title">即将过期</h3>

                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover card-table table-vcenter table-outline text-nowrap">
                                    <thead>
                                        <tr align="center">
                                            <th scope="col"></th>
                                            <th scope="col">名称</th>
                                            <th scope="col">截止日期</th>
                                            <th scope="col">可见日期</th>
                                            <th scope="col">修改期限</th>
                                        </tr>
                                    </thead>
                                    <tbody id="upcomingExperimentTBody">
                                        <!-- 每行一个测试 -->

                                        <!-- /每行一个测试 -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 第二行 -->
                <div class="row row-deck">
                    <!-- 测试时间 -->
                    <div class="col-lg-6 col-sm-12">
                        <div class="card ">
                            <div class="card-header">
                                <h3 class="card-title">测试时间(min)</h3>
                            </div>

                            <div class="card-body text-center">
                                <div id="echart" class="chartsh chart-dropshadow "></div>
                            </div>

                        </div>
                    </div>

                    <!-- 成绩走向 -->
                    <div class="col-lg-6 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">成绩走向</h3>
                            </div>
                            <div class="card-body text-center">
                                <div id="echart2" class="chartsh chart-dropshadow"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /成绩走向 -->

                </div>
                <!-- /第二行 -->



            </div>
            <!-- /信息 -->



            <!--Modals-->

            <!--deadline Date Modal-->
            <div class="modal fade" id="dateModal1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="example-Modal3">修改截止日期</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">实验名称</label>
                                    <input type="text" class="form-control" readonly id="dateModal1_name">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="form-control-label">修改日期</label>
                                    <div class='input-group date datetimepicker'>
                                        <input type='text' class="form-control" id="dateModal1_date" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="dateModal1_close">关闭</a>
                            <button type="button" class="btn btn-primary" onclick="confirmDeadline()">确认修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end deadline DateModal -->

        <!-- reachTimeModal -->
        <div class="modal fade" id="dateModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="example-Modal3">修改可见日期</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">实验名称</label>
                                <input type="text" class="form-control" readonly id="dateModal2_name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">修改日期</label>
                                <div class='input-group date datetimepicker'>
                                    <input type='text' class="form-control" id="dateModal2_date" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="dateModal2_close">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="confirmReachTime()">确认修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- end reachTimeModal -->

    <!-- end DateModal -->


    <!-- testDetail -->
    <div id="testDetailModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header pd-x-20">
                    <h6 class="modal-title" id="detailModalTitle"></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pd-20" id="detailModalBody">
                    <h3 style="text-indent: 20px;">实验名称</h3>

                    <p class="lead" id="detail_name" style="text-indent: 50px;"></p>

                    <h3 style="text-indent: 20px;">实验目的</h3>

                    <p class="lead" id="detail_aim" style="text-indent: 50px;"></p>

                    <h3 style="text-indent: 20px;">实验描述</h3>

                    <p class="lead" id="detail_describe" style="text-indent: 50px;"></p>

                    <h3 style="text-indent: 20px;">关联库表</h3>

                    <p class="lead" id="detail_table" style="text-indent: 50px;"></p>

                    <h3 style="text-indent: 20px">题目</h3>

                    <p id="detail_problem"></p>

                </div><!-- modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div><!-- modal-dialog -->
    </div><!-- modal -->



    <div id="testEditModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content ">
                <div class="modal-header pd-x-20">
                    <h6 class="modal-title" id="old_name"></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pd-20">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">实验名称</label>
                        <input type="text" class="form-control" id="edit_name">
                    </div>
                    <div class="form-group mb-0" style="margin-top: 30px;">
                        <label class="form-label">实验目的</label>
                        <textarea class="form-control" rows="3" id="edit_aim"></textarea>
                    </div>
                    <div class="form-group mb-0" style="margin-top: 30px;">
                        <label class="form-label">实验描述</label>
                        <textarea class="form-control" rows="3" id="edit_describe"></textarea>
                    </div>
                    <div class="form-group mb-0" style="margin-top: 30px;">
                        <div class="expanel expanel-info">
                            <div class="expanel-heading clearfix">关联库表
                                <div class="float-right">
                                    <button class="btn btn-sm btn-light" type="button" data-toggle="collapse"
                                        data-target="#collapse02" aria-expanded="false" aria-controls="collapse02"><i
                                            class="fa fa-bars"></i></button>
                                </div>
                            </div>
                            <div class="expanel-body collapse" id="collapse02">
                                <input type="text" class="form-control" id="edit_table_input"
                                    style="background-color: #0F0506;border-color: #FF685C;color: white;" disabled>
                                <table class="table table-hover card-table  table-vcenter table-outline text-nowrap"
                                    id="edit_table_check">

                                </table>
                            </div>

                        </div>

                        <div class="form-group mb-0" style="margin-top: 30px;">
                            <label class="form-label">题目 若一题有多种答案以$$$进行分割即可,格式例如:答案1.1$$$答案1.2$$$</label>
                            <div id="edit_show_problem"></div>
                        </div>


                    </div>

                </div><!-- modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline-light" onclick="confirmTheEdit()">确认修改</button>
                </div>
            </div>
        </div><!-- modal-dialog -->
    </div><!-- modal -->





    <!--end Modals-->




    <!--底部-->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center"></div>
            </div>
        </div>
    </footer>
    <!--/底部-->

    </div>
    </div>
    </div>
    <!-- 回到最上方 -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
</body>

</html>